*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# NetBeam ignore personal stuff
nbproject/private/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
/WiCore/dist/
/WiCore/build/
/RCApi/build/
/RCApi/dist/
/RCData/build/
/RCData/dist/
/RCApi/nbproject/private/
/WiCore_maven/target/
/RCDataMaven/target/
/WiCoreMaven/target/