<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="RCApiPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>wi.server.rc.api.order.Order1</class>
    <class>wi.server.rc.api.order.OrderDetail</class>
    <class>wi.server.rc.api.product.Product</class>
    <class>wi.server.rc.api.product.ProductPrice</class>
    <class>wi.rc.server.order2.Order1</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/rc?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value="wistron"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="rc_admin"/>
    </properties>
  </persistence-unit>
</persistence>
